.features {
    padding: 130px 0;
    background: linear-gradient(180deg, rgba(155, 221, 216, 0.4) 0%, rgba(155, 221, 216, 0) 100%);
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        position: relative;
        padding-top: 29px;
        width: 253px;
        height: 257px;
        background: linear-gradient(270deg, rgba(118, 213, 207, 0.5) 0%, rgba(61, 180, 169, 0.5) 59.85%);
        border-radius: 30px 5px;
    }
    &__item-title {
        font-weight: 500;
        padding-left: 20px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #121212;
    }
    &__item-image {
        position: absolute;
        bottom: 0;
    }
}