.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 199;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    transition: 0.3s;
    padding-top: 40px;
    padding-bottom: 40px;
    backdrop-filter: blur(4px);
    transition: 0.3s;

    &--active {
        opacity: 1;
        visibility: visible;
    }

    &__select {
        position: relative;
        font-family: 'Rubik Regular', sans-serif;
        width: 390px;
        height: 60px;
        border: none;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        padding: 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #BDBDBD;
        appearance: none;
        background: #fff url('../img/modal/arrow-custom.svg') no-repeat right;
        background-position-x: calc(100% - 20px);
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }

    &-trigger {
        &__dialog {
            position: relative;
            padding: 193px 0;
            background: #fff linear-gradient(288.72deg, rgba(51, 177, 182, 0.5) 16.77%, rgba(120, 220, 213, 0.35) 108.95%);
            border-radius: 10px;
            width: 100%;
            max-width: 1920px;
        }
        &__items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            max-width: 1620px;
            margin: 0 auto;
            row-gap: 20px;
        }
        &__item {
            position: relative;
            padding-top: 41px;
            padding-left: 37px;
            height: 250px;
            background: linear-gradient(270deg, rgba(118, 213, 207, 0.5) 0%, rgba(61, 180, 169, 0.5) 59.85%);
            border-radius: 30px 5px;

            &--one {
                width: 390px;
            }

            &--two {
                width: 527px;
            }

            &--three {
                width: 253px;
            }

            &--four {
                width: 390px;
            }

            &--five {
                width: 527px;
            }

            &--six {
                width: 390px;
            }

            &--seven {
                width: 390px;
            }

            &--eight {
                width: 253px;
            }
        }

        &__item-title {
            font-family: 'Rubik Bold', sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #121212;
        }

        &__item-image {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        &__close {
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
        }
    }
    &-main {
        &__dialog {
            text-align: center;
            width: 100%;
            max-width: 1074px;
            background: #fff linear-gradient(180deg, rgba(155, 221, 216, 0.4) 0%, rgba(155, 221, 216, 0) 100%);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            padding: 81px;
            position: relative;
            color: #3E3F46;
        }

        &__dialog-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 15px;
            width: 795px;
            margin: 0 auto 30px;
        }

        &__title {
            margin-bottom: 10px;
        }

        &__descr {
            font-family: 'Rubik Regular', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #121212;
            width: 558px;
            margin: 0 auto 60px;
        }

        &__button {
            width: 390px;
            height: 60px;
            margin-bottom: 10px;
        }

        &__input {
            font-family: 'Rubik Regular', sans-serif;
            width: 390px;
            height: 60px;
            background: #FFFFFF;
            border: none;
            border: 1px solid #E0E0E0;
            border-radius: 10px;
            padding: 20px;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #BDBDBD;
            &::placeholder {
                color: #BDBDBD;
            }
            &:focus {
                outline: none;
            }
        }

        &__copy {
            font-family: 'Rubik Light', sans-serif;
            width: 390px;
            margin: 0 auto;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #121212;
        }

        &__close {
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
        }
    }
    &-thanks {
        &__dialog {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            max-width: 1074px;
            height: 600px;
            background: #fff linear-gradient(180deg, rgba(155, 221, 216, 0.4) 0%, rgba(155, 221, 216, 0) 100%);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        &__img {
            margin-bottom: 20px;
        }
        &__title {
            font-family: 'Uni Neue', sans-serif;
            font-weight: 700;
            font-size: 35px;
            line-height: 47px;
            text-align: center;
            text-transform: uppercase;
            color: #121212;
        }
        &__close {
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
        }
    }
}