.why {
    background: linear-gradient(180deg, rgba(155, 221, 216, 0.4) 0%, rgba(155, 221, 216, 0) 100%);
    &__container {
        position: relative;
        padding: 130px 0;
    }
    &__image {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__image-mobile {
        display: none;
    }
    &__block {
        width: 800px;
        padding: 60px 48px;
        background: linear-gradient(288.72deg, rgba(51, 177, 182, 0.5) 16.77%, rgba(120, 220, 213, 0.35) 108.95%);
        border-radius: 30px 5px;
    }
    &__block-title {
        margin-bottom: 20px;
    }
    &__block-descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #121212;
        margin-bottom: 25px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}